@{ 
    string gameId = Request["Gameoption"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="post">
        <select name="Gameoption">
            <option value="1">game1</option>
            <option value="2">game2</option>
        </select>
        <button type="submit">send</button>
    </form>

    <form method="post">
        <input  name="name" value="@gameId" />
    </form>
</body>
</html>