<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>@Page.Title</title>
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/css/animations.css" rel="stylesheet" />
    <link href="~/css/statusPanel.css" rel="stylesheet" />
    <link href="~/css/lib/modal.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
